* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 66px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header img {
    width: 45px;
    height: 50px;
}

.logo {
    width: 30%;
    display: flex;
    align-items: center;
}

.logo>span {
    text-transform: uppercase;
    font-family: Poppins;
    font-size: 33px;
    color: #FA0;
    font-weight: 700;
}

nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li a {
    font-size: 18px;
    color: #131313;
}

nav ul:nth-child(1) li {
    margin-left: 30px;
}

nav ul:nth-child(2) li:nth-child(1) {
    padding: 10px 20px;
    background-color: #3A9EFD;
    border-radius: 8px;
}

nav ul:nth-child(2) a {
    color: #000;
}

nav ul:nth-child(2) li:nth-child(2) {
    margin-left: 5px;
    padding: 10px;
}


.ourTeam {
    width: 100%;
    padding: 115px 60px 65px;
}

.ourTeam-title {
    display: flex;
}

.ourTeam-title button {
    padding: 18px;
    width: 250px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 600;
    justify-content: start;
    border-radius: 14px;
    border: 0;
    background-color: #f9f9f9;
}

.active {
    background-color: #FBBD08 !important;
}


.ourTeam-title button:nth-child(2) {
    margin-left: 20px;
}

.all-info {
    margin: 40px 0 0;
}

.animals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.animals-card {
    padding: 42px 26px 27px;
    border: 3px solid #B4DAFF;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 6px 19px 0px rgba(82, 82, 82, 0.25);
}

.animals-card img {
    border-radius: 12px;
}

.doctors {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.doctors-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 47px 71px;
    border: 3px solid #B4DAFF;
    border-radius: 24px;
    box-shadow: 0px 6px 19px 0px rgba(82, 82, 82, 0.25);
}

h2 {
    text-align: center;
    margin: 12px 0;
    font-size: 40px;
    font-weight: 700;
    color: #FBBD08;
}


.animals-info div {
    display: flex;
    align-items: start;
    margin: 8px 0;
}

.animals-info div svg {
    margin: 0 20px 0 0;
}


.doctors-info div {
    display: flex;
    align-items: start;
    margin: 8px 0;
}

.doctors-info div svg {
    margin: 0 12px 0 0;
}


.contact {
    background-color: #FBBD08;
    width: 100%;
    height: 510px;
    display: flex;
    align-items: center;
    padding: 0 60px;
}

.contact-info {
    width: 50%;
    /* border: 3px solid red; */
}

.contact-info div {
    width: 100%;
    /* background-color: blueviolet; */
}

.info-text {
    display: flex;
    align-items: end;
}

.info-text textarea {
    padding: 22px 28px;
    font-size: 18px;
    border: 0;
    border-radius: 16px;
    resize: none;
    height: 157px;
    width: 75%;
    color: #fff;
}

.info-text textarea::placeholder {
    color: #fff;
}

.info-text textarea:focus {
    outline: none;
}

.info-text button {

    background-color: #3A9EFD;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px;
    padding: 8px 20px;
    border-radius: 8px;
    border: 0;
}

.contact-info textarea {
    background-color: #FEC623;
}

.contact-map {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 0 35px;
}

.contact-map iframe {
    border-radius: 16px;
    width: 100%;
    height: 450px;
    border: 0;
}


.info-contact {
    margin: 20px 0;
}

.info-title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.phone-adress {
    margin: 20px 0;

}

.phone-adress div {
    display: flex;
    align-items: center;
}

.phone-adress div a {
    color: #fff;
    font-size: 18px;
}

.phone-adress div a:nth-child(2) {
    margin-left: 7px;
}

.sosial-media a:nth-child(2) {
    margin-left: 15px;
}

.open {
    margin: 7px 0 0 0;
}

.open span {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}