<header>
    <div class="logo">
        <img src="/static/imgs/Logo.svg" alt="Logo">
        <span>pettie</span>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'events' %}">Events</a></li>
            <li><a href="{% url 'ourteam' %}">Our team</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <ul>
            <li><a href="{% url 'login' %}">Log in</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
        </ul>
    </nav>
</header>